@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* font-family rule removed from here to allow layout.js to take control */
  background-image: radial-gradient(circle at top left, #e0e7ff, transparent 40%), radial-gradient(circle at bottom right, #e0f2fe, transparent 50%);
}

html {
  scroll-behavior: smooth;
}